@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

h1{
    text-align: center;
    color: white;
    font-size: 55px;
    border-radius: 70px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'Goldman',Arial, Helvetica, sans-serif;
    
}